body {
  font-family: "Roboto Condensed", sans-serif;
  background-image: linear-gradient(to right, #ccbfc6, #e4e3e1, #a79a91);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: "auto";
  margin: auto;
  display: block;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
