body {
  margin: 0;
  color: #000;
  background-color: transparent;
  background-image: none !important;
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  break-after: avoid;
  font-family: "Roboto", sans-serif;
}
h4 {
  margin: 0px;
}

hr {
  break-after: avoid;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none !important;
  color: #000;
}

p {
  break-inside: avoid;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}
th,
td {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
th:nth-child(even) {
  text-align: left;
}
td:first-child {
  text-align: center;
  vertical-align: top;
}

.no-break {
  break-inside: avoid;
  page-break-inside: avoid;
}

.section-columns {
  column-fill: auto;
  column-count: 2;
}
.section-header {
  margin-bottom: 15px;
  margin-top: 15px;
}

ul,
ol {
  break-inside: avoid;
}

img {
  max-width: 100%;
  height: "auto";
  margin: auto;
  display: block;
}

.column {
  float: left;
  width: 48%;
  padding: 1%;
  column-fill: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hr-image {
  margin-bottom: 10px;
  margin-top: 10px;
}
