body {
  margin: 0;
  color: #000;
  background-color: transparent;
  background-image: none !important;
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  break-after: avoid;
  font-family: "Roboto", sans-serif;
}

hr {
  break-after: avoid;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none !important;
  color: #000;
}

p {
  break-inside: avoid;
}

ul,
ol {
  break-inside: avoid;
}

img {
  max-width: 100%;
  height: "auto";
  margin: auto;
  display: block;
}

.column {
  float: left;
  width: 48%;
  padding: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
