body {
  font-family: "Roboto Condensed", sans-serif;
  background-image: linear-gradient(to right, #ccbfc6, #e4e3e1, #a79a91);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.column {
  float: left;
  padding: 0%;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section-columns {
  column-count: 1;
}

.no-break {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* Mobile screen formatting */
@media screen and (min-width: 600px) and (max-width: 2000px) {
  .column {
    width: 48%;
    padding: 1%;
  }
  .section-columns {
    column-count: 2;
  }
}

/* ultrawide screen formatting */
@media screen and (min-width: 2000px) {
  .column {
    width: 33%;
    padding: 1%;
  }
  .section-columns {
    column-count: 3;
  }
}

.rules-disable {
  filter: grayscale(80%);
  padding: 1%;
}

.rules-enable {
  padding: 1%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
