body {
  font-family: "Roboto Condensed", sans-serif;
  background-image: linear-gradient(to right, #ccbfc6, #e4e3e1, #a79a91);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.column {
  float: left;
  width: 48%;
  padding: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    padding: 0;
  }
}

.rules-disable {
  filter: grayscale(80%);
  padding: 1%;
}

.rules-enable {
  padding: 1%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.special-rules {
  column-count: 2;
}
.special-rules-item {
  break-inside: avoid;
  page-break-inside: avoid;
}
